/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Importing Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
    background-color: #F3F4F6; /* Setting The Background Color */
    font-family: 'Inter', sans-serif; /* Default Font Set To Inter */
}

/* Font Classes */
.font-sans {
    font-family: "Instrument Sans", sans-serif; /* Applying Instrument Sans Font */
}

.font-inter {
    font-family: "Inter", sans-serif; /* Applying Inter Font */
}
 

/* Swiper Styles */
.swiper-wrapper {
    transition-timing-function: linear !important; /* Ensuring Smooth Swiper Animation */
    display: flex; /* Aligning Swiper Items In A Row */
    align-items: center; /* Centering Swiper Items Vertically */
}
