/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Importing Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
    background-color: #F3F4F6; /* Setting The Background Color */
    font-family: 'Inter', sans-serif; /* Default Font Set To Inter */
}

/* Font Classes */
.font-sans {
    font-family: "Instrument Sans", sans-serif; /* Applying Instrument Sans Font */
}

.font-inter {
    font-family: "Inter", sans-serif; /* Applying Inter Font */
}

.font-roboto {
    font-family: "Roboto", sans-serif; /* Applying Roboto Font */
}

.font-geist {
    font-family: "Geist", sans-serif; /* Applying Geist Font */
}

/* Swiper Styles */
.swiper-wrapper {
    transition-timing-function: linear !important; /* Ensuring Smooth Swiper Animation */
    display: flex; /* Aligning Swiper Items In A Row */
    align-items: center; /* Centering Swiper Items Vertically */
}
